
button {
  outline: none;
}

li {
  list-style: none;

}

.space {
  width: 100px;
}

.dropdown-toggle {
  cursor: pointer;

}

.navbar-brand {
  color: #338a3e;
  font-size: 24px;
}

nav.navbar {

  border-bottom: 5px solid #338a3e;
}
